<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application>
    <activity
      android:name="com.linroid.ketch.app.android.UpdateInstallActivity"
      android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <provider
      android:name="com.linroid.ketch.app.android.UpdateFileProvider"
      android:authorities="${applicationId}.updates"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/update_paths" />
    </provider>
  </application>
</manifest>
